* {
    font-family: "Malgun Gothic";
}
html,
body{
    height: 100%;
}
body{
    display: block;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgb(0, 0, 0), rgb(255, 255, 255));
}
#time{
    display: flex;
    color: black;
    align-items: center;
    justify-content: center;
}
h1 {
    color: white;
    font-size: 150px;
    font-weight: 300;
}